.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  
.input-w{
    margin: auto;
    margin-top:100px;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 10px;  
    text-indent: 20%;
}

.input-w label{
    display: inline-block;
    width: 180px;
}

.input-w input{
    width: 180px;
}

.input-w button{
    display: inline-block;
    width: 150px;
    margin-right:16px
}

.modal.show{
    display: block;
}

.modal-body {
    width: 500px;
    height:600px !important;
    overflow-y: auto;
  }

.modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
}

.modal-footer {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
}